<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css ">
    <title>Document</title>

    
</head>
<body>
    <nav class="navbar">
        <div class="logo">layout responsivo</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toogle"/>
            <label for="checkbox_toogle" class="hamburguer">&#9776;</label>

            <div class="menu">
                <li><a href="#">inicio</a></li>
                <li><a href="#">sobre</a></li>
                <li class="services">
                    <a href="#">servicos</a>
                    <ul class="dropdown">
                        <li><a href="#">Menu Suspenso 1</a></li>
                        <li><a href="#">Menu Suspenso 2</a></li>
                        <li><a href="#">Menu Suspenso 3</a></li>
                        <li><a href="#">Menu Suspenso 4</a></li>
                        <li><a href="#">Menu Suspenso 5</a></li>
                    </ul>
                </li>

                <li><a href="#">preços</a></li>
                <li><a href="#">contatos</a></li>
            </div>
        </ul>
    </nav>
</body>
</html>